.container {
  width: 100%;
  max-width: 975px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal-container {
  width: 100%;
  max-width: 1060px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}